<!DOCTYPE html>
<html>
<body>
<p id="timer"></p>
<%= JSON.stringify(info)%>

<script>
var countDownDate = new Date('<%= time %>').getTime();

 var now = new Date().getTime();
 var distance = countDownDate - now;
    
 var days = Math.floor(distance / (1000 * 60 * 60 * 24));
 var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
 var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
 var seconds = Math.floor((distance % (1000 * 60)) / 1000);
 document.getElementById("timer").innerHTML = days + "d " + hours + "h "
    + minutes + "m " + seconds + "s ";

var x = setInterval(function() {
    var now = new Date().getTime();
    var distance = countDownDate - now;
    
    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    
    document.getElementById("timer").innerHTML = days + "d " + hours + "h "
    + minutes + "m " + seconds + "s ";
    
    // If the count down is over, write some text 
    if (distance < 0) {
        clearInterval(x);
        document.getElementById("timer").innerHTML = "COMPETITITON BEGIN";
    }
}, 1000);
</script>

<form action="/team" method="post">
  Team Name:<br> 
  <input type="text" name="teamName"><br>
  Contact Name:<br>
  <input type="text" name="capName"><br>
  Contact E-mail:<br>
  <input type="text" name="capEMail"><br>
  <button type="submit">Submit</button>
</form>

</body>
</html>